body {
    background-color: #DEDEDE;
    font-family: ABeeZee, Helvetica, sans-serif;
    margin: auto;
    max-width: 70em;
    min-width: 20em;
    padding: 1em;
}

a {
    color: #782725;
}

img {
    border-width: 0;
}
