<section class="archive">
	<h2>Recent posts</h2>
	<ul>
		$body$
	</ul>
	<h2>Tags</h2>
	<ul>
        <li><a href="/tags/Life.html">Life</a></li>
        <li><a href="/tags/Algorithm.html">Algorithm</a></li>
        <li><a href="/tags/Mathematics.html">Mathematics</a></li>
        <li><a href="/tags/Programming.html">Programming</a></li>
        <li><a href="/tags/Book.html">Book</a></li>
        <li><a href="/tags/CS.html">CS</a></li>
        <li><a href="/tags/Linux.html">Linux</a></li>
	</ul>
</section>
